![Piggy bank](piggy_bank.jpg)

Personal loans are a lucrative revenue stream for banks. The typical interest rate of a two-year loan in the United Kingdom is [around 10%](https://www.experian.com/blogs/ask-experian/whats-a-good-interest-rate-for-a-personal-loan/). This might not sound like a lot, but in September 2022 alone UK consumers borrowed [around £1.5 billion](https://www.ukfinance.org.uk/system/files/2022-12/Household%20Finance%20Review%202022%20Q3-%20Final.pdf), which would mean approximately £300 million in interest generated by banks over two years!

You have been asked to work with a bank to clean the data they collected as part of a recent marketing campaign, which aimed to get customers to take out a personal loan. They plan to conduct more marketing campaigns going forward so would like you to ensure it conforms to the specific structure and data types that they specify so that they can then use the cleaned data you provide to set up a PostgreSQL database, which will store this campaign's data and allow data from future campaigns to be easily imported. 

They have supplied you with a csv file called `"bank_marketing.csv"`, which you will need to clean, reformat, and split the data, saving three final csv files. Specifically, the three files should have the names and contents as outlined below:

## `client.csv`

| column | data type | description | cleaning requirements |
|--------|-----------|-------------|-----------------------|
| `client_id` | `integer` | Client ID | N/A |
| `age` | `integer` | Client's age in years | N/A |
| `job` | `object` | Client's type of job | Change `"."` to `"_"` |
| `marital` | `object` | Client's marital status | N/A |
| `education` | `object` | Client's level of education | Change `"."` to `"_"` and `"unknown"` to `np.NaN` |
| `credit_default` | `bool` | Whether the client's credit is in default | Convert to `boolean` data type:<br> `1` if `"yes"`, otherwise `0` |
| `mortgage` | `bool` | Whether the client has an existing mortgage (housing loan) | Convert to boolean data type:<br> `1` if `"yes"`, otherwise `0` |

<br>

## `campaign.csv`

| column | data type | description | cleaning requirements |
|--------|-----------|-------------|-----------------------|
| `client_id` | `integer` | Client ID | N/A |
| `number_contacts` | `integer` | Number of contact attempts to the client in the current campaign | N/A |
| `contact_duration` | `integer` | Last contact duration in seconds | N/A |
| `previous_campaign_contacts` | `integer` | Number of contact attempts to the client in the previous campaign | N/A |
| `previous_outcome` | `bool` | Outcome of the previous campaign | Convert to boolean data type:<br> `1` if `"success"`, otherwise `0`. |
| `campaign_outcome` | `bool` | Outcome of the current campaign | Convert to boolean data type:<br> `1` if `"yes"`, otherwise `0`. |
| `last_contact_date` | `datetime` | Last date the client was contacted | Create from a combination of `day`, `month`, and a newly created `year` column (which should have a value of `2022`); <br> **Format =** `"YYYY-MM-DD"` |

<br>

## `economics.csv`

| column | data type | description | cleaning requirements |
|--------|-----------|-------------|-----------------------|
| `client_id` | `integer` | Client ID | N/A |
| `cons_price_idx` | `float` | Consumer price index (monthly indicator) | N/A |
| `euribor_three_months` | `float` | Euro Interbank Offered Rate (euribor) three-month rate (daily indicator) | N/A |

Subset, clean, and reformat the bank_marketing.csv dataset to create and store three new files based on the requirements detailed in the notebook.

Split and tidy bank_marketing.csv, storing as three DataFrames called client, campaign, and economics, each containing the columns outlined in the notebook and formatted to the data types listed.
Save the three DataFrames to csv files, without an index, as client.csv, campaign.csv, and economics.csv respectively.

In [39]:
import pandas as pd
import numpy as np

# Start coding here...

In [48]:
def preprocess_character(phrase,actual_char,new_char):
        phrase = phrase.lower()
        phrase = phrase.replace(actual_char,new_char)
        return phrase

In [62]:
def preprocess_str(phrase,actual_str,new_str):
        if phrase == actual_str:
            return new_str
        else:
            return phrase

In [41]:
df = pd.read_csv("bank_marketing.csv")

In [67]:
client = df[['client_id','age','job','marital','education','credit_default','mortgage']]
# client['job'] = client['job'].str.replace('.','_',regex=False)
# client['education'] = client['education'].str.replace('.','_',regex=False)
client['job'] = client['job'].apply(lambda x: preprocess_character(x,'.','_'))
client['education'] = client['education'].apply(lambda x: preprocess_character(x,'.','_'))
client['education'] = client['education'].apply(lambda x: preprocess_str(x,'unknown',np.nan))
client['credit_default'] = client['credit_default'].apply(lambda x: preprocess_str(x,'no',0))
client['credit_default'] = client['credit_default'].apply(lambda x: preprocess_str(x,'yes',1))
client['credit_default'] = client['credit_default'].apply(lambda x: preprocess_str(x,'unknown',np.nan))
client['mortgage'] = client['mortgage'].apply(lambda x: preprocess_str(x,'no',0))
client['mortgage'] = client['mortgage'].apply(lambda x: preprocess_str(x,'yes',1))
client['mortgage'] = client['mortgage'].apply(lambda x: preprocess_str(x,'unknown',np.nan))
client

/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/3179962726.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['job'] = client['job'].apply(lambda x: preprocess_character(x,'.','_'))
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/3179962726.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['education'] = client['education'].apply(lambda x: preprocess_character(x,'.','_'))
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/3179962726.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['education'] = client['education'].apply(lambda x: preprocess_str(x,'unknown',np.nan))
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/3179962726.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['credit_default'] = client['credit_default'].apply(lambda x: preprocess_str(x,'no',0))
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/3179962726.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['credit_default'] = client['credit_default'].apply(lambda x: preprocess_str(x,'yes',1))
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/3179962726.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['credit_default'] = client['credit_default'].apply(lambda x: preprocess_str(x,'unknown',np.nan))
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/3179962726.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['mortgage'] = client['mortgage'].apply(lambda x: preprocess_str(x,'no',0))
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/3179962726.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['mortgage'] = client['mortgage'].apply(lambda x: preprocess_str(x,'yes',1))
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/3179962726.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  client['mortgage'] = client['mortgage'].apply(lambda x: preprocess_str(x,'unknown',np.nan))

,client_id,age,job,marital,education,credit_default,mortgage
0,0,56,housemaid,married,basic_4y,0.0,0.0
1,1,57,services,married,high_school,NaN,0.0
2,2,37,services,married,high_school,0.0,1.0
3,3,40,admin_,married,basic_6y,0.0,0.0
4,4,56,services,married,high_school,0.0,0.0
...,...,...,...,...,...,...,...
41183,41183,73,retired,married,professional_course,0.0,1.0
41184,41184,46,blue-collar,married,professional_course,0.0,0.0
41185,41185,56,retired,married,university_degree,0.0,1.0
41186,41186,44,technician,married,professional_course,0.0,0.0
41187,41187,74,retired,married,professional_course,0.0,1.0

In [70]:
camping = df[['client_id','number_contacts','contact_duration','previous_campaign_contacts','previous_outcome','campaign_outcome','month','day']]
camping['previous_outcome'] = camping['previous_outcome'].apply(lambda x: preprocess_str(x,'failure',0))
camping['previous_outcome'] = camping['previous_outcome'].apply(lambda x: preprocess_str(x,'success',1))
camping['previous_outcome'] = camping['previous_outcome'].apply(lambda x: preprocess_str(x,'nonexistent',np.nan))
camping['campaign_outcome'] = camping['campaign_outcome'].apply(lambda x: preprocess_str(x,'no',0))
camping['campaign_outcome'] = camping['campaign_outcome'].apply(lambda x: preprocess_str(x,'yes',1))
camping['campaign_outcome'] = camping['campaign_outcome'].apply(lambda x: preprocess_str(x,'unknown',np.nan))
camping['last_contact_date'] = camping['day'].astype(str) + '-' + camping['month'].astype(str) + '-2022'
camping.drop(columns=['month','day'],inplace=True)
camping

/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/2606309928.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  camping['previous_outcome'] = camping['previous_outcome'].apply(lambda x: preprocess_str(x,'failure',0))
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/2606309928.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  camping['previous_outcome'] = camping['previous_outcome'].apply(lambda x: preprocess_str(x,'success',1))
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/2606309928.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  camping['previous_outcome'] = camping['previous_outcome'].apply(lambda x: preprocess_str(x,'nonexistent',np.nan))
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/2606309928.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  camping['campaign_outcome'] = camping['campaign_outcome'].apply(lambda x: preprocess_str(x,'no',0))
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/2606309928.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  camping['campaign_outcome'] = camping['campaign_outcome'].apply(lambda x: preprocess_str(x,'yes',1))
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/2606309928.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  camping['campaign_outcome'] = camping['campaign_outcome'].apply(lambda x: preprocess_str(x,'unknown',np.nan))
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/2606309928.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  camping['last_contact_date'] = camping['day'].astype(str) + '-' + camping['month'].astype(str) + '-2022'
/var/folders/2l/444vp_6n6zjfhd08m4p34lf40000gn/T/ipykernel_38600/2606309928.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  camping.drop(columns=['month','day'],inplace=True)

,client_id,number_contacts,contact_duration,previous_campaign_contacts,previous_outcome,campaign_outcome,last_contact_date
0,0,1,261,0,NaN,0,13-may-2022
1,1,1,149,0,NaN,0,19-may-2022
2,2,1,226,0,NaN,0,23-may-2022
3,3,1,151,0,NaN,0,27-may-2022
4,4,1,307,0,NaN,0,3-may-2022
...,...,...,...,...,...,...,...
41183,41183,1,334,0,NaN,1,30-nov-2022
41184,41184,1,383,0,NaN,0,6-nov-2022
41185,41185,2,189,0,NaN,0,24-nov-2022
41186,41186,1,442,0,NaN,1,17-nov-2022
41187,41187,3,239,1,0.0,0,23-nov-2022

In [45]:
economics = df[['client_id','cons_price_idx','euribor_three_months']]
economics

       client_id  cons_price_idx  euribor_three_months
0              0          93.994                 4.857
1              1          93.994                 4.857
2              2          93.994                 4.857
3              3          93.994                 4.857
4              4          93.994                 4.857
...          ...             ...                   ...
41183      41183          94.767                 1.028
41184      41184          94.767                 1.028
41185      41185          94.767                 1.028
41186      41186          94.767                 1.028
41187      41187          94.767                 1.028

[41188 rows x 3 columns]